$theme-border: rgb(65, 65, 68);
$theme-border-light: rgb(198, 198, 198);
$theme-white: rgb(225, 225, 225);

$bg-primary: rgb(32, 33, 36);
$bg-secondary: rgb(39, 39, 42);
$bg-accent-dark: rgb(65, 65, 68);
$bg-accent: rgb(161, 161, 170);

$typography-primary: rgb(255, 255, 255);
$typography-secondary: rgb(161, 161, 170);
$typography-placeholder: rgb(113, 113, 122);

$icon-normal: rgb(161, 161, 171);
$icon-white: rgb(255, 255, 255);
$icon-blue: rgb(120, 144, 178);
$icon-red: rgb(223, 68, 68);